asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
distlib==0.4.2
Django==6.0.3
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
filelock==3.29.3
idna==3.18
packaging==26.2
pillow==12.1.1
pipenv==2026.6.2
platformdirs==4.10.0
psycopg2-binary==2.9.12
PyJWT==2.11.0
python-discovery==1.4.0
requests==2.34.2
setuptools==82.0.1
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.7.0
virtualenv==21.4.2
